.write_ul{
	margin: 0 auto;
	width: 85%;
	font-family: "fontello";
	border: solid 1px #cdd2d2;
	border-radius: 10px;
	padding: 0;
}
.write_li{
	list-style: none;
	width: 100%;
	padding: 10px 30px;
	border-bottom: 1px solid #cdd2d2;
}

.write_ul li div{
	-webkit-box-sizing: border-box;
  			-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#map {
	width: 100%;
	height: 400px;
}
.write_img{
	height: 20px;
	width: 20px;
	position: relative;
	top: 0.3em;
	left: 0.2em;
}
#autocomplete{
	border-bottom: 1px solid #cdd2d2;
	margin-bottom: 10px;
}
input[type=text]{
	display: inline-block;
    width: 90%;
    background: none;
    border: none;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    outline: none;
}
.header{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.title{
	display: inline-block;
	width: 80%;
}
.board_type{
	display: inline-block;
	width: 135px;
}
.category, .price{
	display: inline-block;
	width: 49%;
}
#inputTag{
	display: inline-block;
	width: 30% !important;
}
#tagSection{
	display: inline-block;
	width: 98%;
}
#tagSection .tag {
	display: inline-block;
	color: gray;
	height: 18px;
	line-height: 18px;
	border-radius: 8px;
	margin-right: 5px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid gray;
}

#tagSection .tag a {
	color: gray;
}
#tagSection .tag a:hover {
	color: red;
	font-weight: bold;
}
select{
	height: 20px;
}
textarea{
	width: 100%;
	resize: none;
}
.btn_li{
	list-style: none;
	width: 100%;
	padding: 10px 30px;
	text-align: center;
	font-size: 17pt;
}
.write_btn{
	background:#1AAB8A;
	color:#fff;
	border:none;
	position:relative;
	height:30px;
	width: 80px;
	font-size:10pt;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
#cancle_btn{
	background: #D24D57;
}
.write_btn:hover{
  background:#fff;
  color:#1AAB8A;
}
#cancle_btn:hover{
	background: #fff;
	color: #D24D57;
}
.write_btn:before, .write_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#cancle_btn:before, #cancle_btn:after{
	background: #D24D57;
}
.write_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.write_btn:hover:before, .write_btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.board_type input[type=radio]{
   display: none;
}
.board_type input[type=radio] + label::before{
      content: ''; 
        display: inline-block; 
        width: 21px; 
        height: 18px;
        vertical-align: middle;    /* img 아이콘 항상 세로정렬을 하기 위함 */
        margin: -5px 5px 0 0; 
        background-image: url('../image/money.png');    /* svg 파일 적용 */
}
.board_type input[type=radio]:checked + label::before {    /* 가짜 체크박스 체크했을 때 */
        background-image: url('../image/checked.png');    /* 하위 브라우저용 img */
        background-position: 21px 0;
}
