
.icon-check:before { content: '\e800'; } /* '' */
.icon-check-empty:before { content: '\e801'; } /* '' */
.icon-group:before { content: '\e802'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */