@charset "UTF-8";

#map {
	width: 100%;
}

#main_head span {
	display: block;
	margin: 0 auto;
	font-size: 40px;
	text-align: center;
	line-height: 200px;
}

#main_head h3 {
	font-size: 15px;
	display: block;
	font-weight: normal;
	width: 500px;
	text-align: center;
	margin: 0 auto;
}

#locationField {
	position: absolute;
	height: 30px;
	width: 100%;
	font-size: 25px;
	z-index: 1;
	text-align: center;
}

#chkBtnDiv {
	display: block;
	height: 150px;
	width: 100%;
	font-size: 25px;
	text-align: center;
	line-height: 150px;
}

#container {
	display: block;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.content {
	display: inline-block;
	width: 300px;
	height: 370px;
	margin: 0 30px 50px 30px;
	border-radius: 5px;
	box-shadow: 1px 2px 4px gray;
}

.content img {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 5px 5px 0 0;
}

.content p {
	font-weight: bold;
	font-size: 20px;
}
