@charset "UTF-8";

#mysec1 {
	width: 100%;
	height: 200px;
	margin-top: 50px;
}

#sec1container {
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

#sec1container #sec1col1 {
	height: 100%;
	width : 20%;
	font-size: 150px;
	display: inline-block;
	float: left;
	margin-left: 100px;
}

#sec1container #sec1col2 {
	height: 100%;
	width: 45%;
	display: inline-block;
	float: left;
}

#sec1container #sec1col2 hr {
	width: 70%;
	display: inline-block;
	text-align: left;
}
#sec1container #sec1col3 {
	height: 100%;
	width: 20%;
	display: inline-block;
	float: left;
}

#sec1col2 span {
	font-size: 30px;
	display: inline-block;
	
}

#mysec2 {
	width: 100%;
	height: 500px;
}


#mysec3 {
	width: 100%;
	height: 700px;
}

#mysec3 #sec3container {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.content {
	display: inline-block;
	width: 200px;
	height: 280px;
	margin: 0 15px 50px 15px;
	text-align: left;
}

.content img {
	display: block;
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
}

.content p {
	font-weight: bold;
	font-size: 15px;
	display: inline-block;
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content a {
	color: black;
}

.content span {
	font-size: 11px;
	display: inline-block;
	width: 190px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#contentInfoSection {
	display: block;
	width: 100%;
}

.contentInfo {
	display: inline-block;
	width: 30%;
	color: #BDBDBD;
	font-size: 12px;
}

#pagingArea a {
	cursor: pointer;
}