.sbwrite_ul{
	margin: 0 auto;
	width: 70%;
	font-family: "fontello";
	border: solid 1px #cdd2d2;
	border-radius: 10px;
	padding: 0;
}
.write_li{
	list-style: none;
	width: 100%;
	padding: 10px 30px;
	border-bottom: 1px solid #cdd2d2;
}

.sbwrite_ul li div{
	-webkit-box-sizing: border-box;
  			-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type=text]{
	display: block;
    width: 100%;
    background: none;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
    outline: none;
}
.header{
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}
.hashtag, .category, .purchase_date, .price{
	display: inline-block;
	width: 49%;
}
select{
	height: 20px;
}
textarea{
	width: 100%;
	resize: none;
}
.btn_li{
	list-style: none;
	width: 100%;
	padding: 10px 30px;
	text-align: center;
	font-size: 17pt;
}
.write_btn{
	background:#1AAB8A;
	color:#fff;
	border:none;
	position:relative;
	height:30px;
	width: 80px;
	font-size:10pt;
	padding:0 2em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
#cancle_btn{
	background: #D24D57;
}
.write_btn:hover{
  background:#fff;
  color:#1AAB8A;
}
#cancle_btn:hover{
	background: #fff;
	color: #D24D57;
}
.write_btn:before, .write_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#cancle_btn:before, #cancle_btn:after{
	background: #D24D57;
}
.write_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.write_btn:hover:before, .write_btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.sbwrite_ul{
	margin: 0 auto;
	width: 85%;
	font-family: "fontello";
}
.sbwrite_ul li{
	list-style: none;
}

/* 달력 API */
.ui-datepicker-calendar>thead tr{
	height: 40px;
}
.ui-datepicker-calendar>thead tr th{
	background-color: #4791dc;
	color: white;
	height: 25px;
	padding: 0px;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 15pt;
}
.ui-datepicker-week-end{
	width: 14.2%
}
.ui-datepicker-calendar>tbody tr{
	background-color: white;
	height:20%
}
.ui-datepicker-calendar>tbody tr>td{
	font-size: 12pt;
}
.uploadcare--widget__dragndrop-area{
	height: 28px;
	left: -24px;
}