@charset "UTF-8";

#sticky {
	width: 70%;
	margin: 0 auto;

}

#sticky * {
	box-sizing: border-box;
	margin-bottom: 10px;
}


#sticky h3 {
	font-size: 18px;
	margin: 42px 0 21px;
	padding-bottom: 0;
	text-transform: uppercase;
	font-weight: 600;
	display: block;
}

#sticky label {
	display: inline-block;
	width: 25%;
	height: 35px;
	color: gray;
}

#sticky input[type='text'], input[type='password'] {
	border-color: transparent;
	box-shadow: none;
	outline-style: none;
	border: 0;
	border-bottom: 1px solid black;
}

.form-row {
	display: block;
	width: 50%;
	margin: 0 auto;
}
.secondCol {
	display: inline-block;
	width: 74%;
}

#sticky input[type='button'] {
	border-color: transparent;
	box-shadow: none;
	outline-style: none;
	background-color: black;
	color: white;
	width: 145px;
	height: 25px;
	font-size: 12px;
	margin-left: 10px;
}

#sticky button {
	border-color: transparent;
	box-shadow: none;
	outline-style: none;
	background-color: black;
	color: white;
	width: 200px;
	height: 50px;
	font-size: 15px;
	margin-right: 20px;
	margin-top: 30px;
}